<footer>
    <div class="footer-links">
        <ul class="footer-ul">
            <li><a class="footer-copyright font-20">&copy; CS Study Buddy</a></li>
            <li><a class="footer-nav font-20" href="/about">About</a></li>
            <li><a class="footer-nav font-20" href="/contact">Contact</a></li>
        </ul>
        <ul class="footer-social-media">
            <li><a><i class="fa-brands fa-twitter font-20"></i></a></li>
            <li><a><i class="fa-brands fa-facebook font-20"></i></a></li>
        </ul>
    </div>
</footer>

</body>

</html>