<%- include('./partials/header.ejs')%>

    <main>
        <div class="main-content">
            <h1 class="intro-header font-bold">We are CS Study Buddy</h1>
            <p class="white font-20">Our mission here is to come together and create an environment where people can upload all
                their events that are taking place to recruit and work with other people. There will be lots of information that
                will be asked for each upload so we can make sure that no event goes unnoticed.
            </p>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>