<%- include('./partials/header.ejs')%>

    <main>
        <div class="main-content">
            <h1 class="intro-header font-bold">Contact</h1>
            <p class="white font-20"><span class="font-bold">Phone:</span> 702-986-2893</p>
            <p class="white font-20"><span class="font-bold">Email:</span> csstudybuddy@gmail.com</p>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>