/* CSS Reset and General Styles */
:root {
    --primary-color: #ffffff;
    --secondary-color: #dec2ba;
    --primary-bg-color: #0b0c10;
    --secondary-bg-color: #1f2833;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.5;
    min-height: 100vh;
}

header,
footer {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

main {
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

input,
textarea {
    font: inherit;
}

/* Utility Classes */
.font-15 {
    font-size: 15px;
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-40 {
    font-size: 40px;
}

.font-bold {
    font-weight: bold;
}

.white {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

/* Overall Layouts */
body {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 7rem 1fr 4rem;
}

header {
    grid-column: 1/-1;
    grid-row: 1;
    top: 0;
}

main {
    grid-column: 1/-1;
    grid-row: 2;
}

footer {
    grid-column: 1/-1;
    grid-row: 3;
    bottom: 0;
}

/* Header Styles*/
.header-logo-nav {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem; 
    padding-bottom: 0.6rem;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary-color);
}

.nav-ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    color: var(--secondary-color);
}

.nav-link:hover {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

/*Nav Styles*/
.nav-tabs {
    display: flex;
    margin-top: -1px;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    background-color: var(--primary-bg-color);
}

.events-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.events-link:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

/* Main Styles*/
main {
    margin-top: 4rem;
}

.main-content {
    padding: 10rem;
}

.intro-header,
.events-header {
    color: var(--secondary-color);
}

.project-list {
    line-height: 2.5em;
}

.study-list {
    line-height: 2.5em;
}

.event-list {
    list-style-type: none;
    color: var(--primary-color);
}

.event-item {
    text-decoration: none;
    color: var(--primary-color);
}

.event-item:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--secondary-color);
}

.event-header-row {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fa-pen-to-square {
    color: green;
    outline: 2px solid green;
    border-radius: 45%;
    outline-offset: 0.4rem;
}

.fa-pen-to-square:hover {
    outline: 4px solid green;
}

.fa-trash {
    color: red;
    outline: 2px solid red;
    border-radius: 45%;
    outline-offset: 0.4rem;
}

.fa-trash:hover {
    outline: 4px solid red;
}

.event-content-row {
    display: flex;
    gap: 2rem;
    line-height: 4em;
}

/* New Event Page */
.form-main-content {
    margin: 3rem 20rem 0 20rem;
}

.new-event-row {
    margin-bottom: 1rem;
    max-width: 70rem;
}

.input-size {
    width: 70rem;
    padding: 1rem;
    max-width: 100rem;
}

.new-event-file {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.choose-file {
    color: var(--secondary-color);
    margin-top: 1rem;
    font-size: 1.5rem;
}

.new-event-submit {
    margin-bottom: 2rem;
}

.submit-size {
    width: 70rem;
    max-width: 100rem;
    background-color: black;
    color: var(--secondary-color);
}

.editButton {
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    padding: 0 2rem;
    font-size: 1.2rem;
}

.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
}

.error {
    background: rgba(175, 66, 33, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
}

.profile-table {
    width: 35rem;
    line-height: 3rem;
    display:flex;
    padding: 1rem 4rem 1rem 4rem;
    text-align: center;
    background: var(--primary-bg-color);
    border: 2px solid var(--secondary-color);
}

.profile-edit-buttons {
    border: none;
    background-color: var(--primary-bg-color);
    color: var(--secondary-color);
    padding: 0 2rem;
    font-size: 1.2rem;
}

.profile-buttons {
    display: flex;
}

.profile-border {
    border-bottom: 2px solid var(--secondary-color);
}

.profile-events {
    text-decoration: none;
    font-weight: bold;
}

.profile-events:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--secondary-color);
}

/* Footer Styles */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 1rem;
}

.footer-ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    color: var(--secondary-color);
}

.footer-copyright {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-nav {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-nav:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.footer-social-media {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    color: var(--secondary-color);
}

.fa-twitter:hover,
.fa-facebook:hover {
    outline: 1px solid var(--primary-color);
    border-radius: 50%;
    outline-offset: 7px;
}